<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>💸Budget Buddy💸</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">

  {{!-- bulma link --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

  {{!-- google fonts--}}
  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Font+Name">
</head>

{{!-- adding navbar --}}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">

      <div class="navbar-item">

        <div class="buttons">

          <a class="button is-primary">

            <strong>Sign up</strong>

          </a>

          {{!-- <a class="button is-light">
            Log in
          </a> --}}

          <nav>
        
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="button is-light" id="logout">logout</button>
        {{else}}
        <a class="button is-light" href="/login">Login</a>
        {{/if}}
      </nav>

        </div>
      </div>
    </div>
  </div>
</nav>





<body>
  <div class="flex-column justify-space-around">
   <header class="content has-text-centered">
      <h1>
        <span role="img" aria-label="money">💸</span>
        <a href="/">Budget Buddy💸</a>
      </h1>

      <nav>
        
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login"></a>
        {{/if}}
      </nav>

    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

<footer class=" footer">
  <div class=" content has-text-centered">

    <p>
      Powered by Group 6!
    </p>

  </div>

</footer>


</html>
