<!-- Loop over each object in the projects array -->

{{!-- add expenses form here  --}}
<div>
  <div class="content has-text-centered col-md-6 budget-list">
    <h3>Current budgets:</h3>
  </div>
  {{#each budgets as |budget|}}
  <p class="content has-text-centered">
  Budget name: {{budget.name}}
  </p>
  <progress class="progress is-link" value="{{budget.spent}}" max="{{budget.amount}}"></progress>

  <div class="content has-text-centered">
    Logic - budget amount - you have this much $ left over
    {{!-- conditional logic for overage rather than a negative amount left --}}
  </div>

  <div class="has-text-centered" id="expenseadd">
  <button class="btn btn-primary has-text-centered addexpense" value="{{budget.id}}" type="submit">Add expense</button>
  </div>
{{!-- {{> budgets-details}} --}}
  {{/each}}
</div>
</div>

<script src="./expense.js"></script>
