<!-- Loop over each object in the projects array -->

{{!-- add expenses form here  --}}
<div>
  <div class="content has-text-centered col-md-6 budget-list">
    <h3>Current budgets:</h3>
  </div>
  {{#each Budgets as |buddy|}}
  {{buddy.name}}
  <progress class="progress is-link" value="{{buddy.spent}}" max="{{buddy.amount}}"></progress>
  <div class="content has-text-centered">
    Logic - budget amount - you have this much $ left over
    {{!-- conditional logic for overage rather than a negative amount left --}}
  </div>
  <div id="expenseadd">
  <button class="btn btn-primary has-text-centered" value="{{buddy.id}}" type="submit">Add expense</button>
  </div>

  {{/each}}
</div>
</div>

