<!-- Loop over each object in the projects array -->

{{!-- add expenses form here  --}}
<div class="content has-text-centered">
<div class="select is-primary">
  <select>
    <option>Select dropdown</option>
    <option>Expenses</option>
  </select>
</div>
</div>

{{!-- test --}}
